/*This file is for your custom css.  All yours*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: sans-serif;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 1em;
}

h1 {
  margin-bottom: 0;
  width: 100%;
  font-size: 1.8em;
  padding: 0.3em;
  font-weight: bold;
  color: gray;
  text-align: center;
}

table {
  border-top: 2px solid #4F86C6;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}

thead tr {
  background-color: #4FB0C6;
  font-size: 1.1em;
  font-weight: bold;
}

th {
  text-align: center;
  font-size: 0.8em;
  color: white;
  line-height: 2.5em;
}

tr {
  border-bottom: 2px solid #4F86C6;
  padding-left: 0.2em;
  border-left: 2px solid #4F86C6;
  border-right: 2px solid #4F86C6;
}

th:first-child, td:first-child {
  padding-left: 0.4em;
  width: 28%;
}

th, td {
  width: 12%;
}

td:first-child {
  font-weight: bold;
}

tr:nth-child(even) {
    background: rgba(216, 230, 231, 0.8);
}

td {
  line-height: 4em;
  color:#67665b;
  text-align: center;
}

tfoot tr {
  border: none;
  font-size: 0.8em;
  font-style: italic;
}

.easy {
  display: block;
  background-color: green;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid darkgreen;
}
